<div class="m-3">
  <%= link_to '← 一覧へ戻る', facilities_path, class: "btn btn-primary" %>
</div>

<div class="container">
  <div class="row">
    <div class="card mb-4 mx-auto" style="width: 70%">
      <div class="card-header">
        <%=@post_script.title %>
      </div>
      <div class="card-body">
        <div class="card-text mb-0">
          <div>
            <%=@post_script.content %><br>
            <div id="favorite_btn_<%= @post_script.id %>">
              <%= render "favorites/btn", facility:@post_script.facility,post_script: @post_script if current_end_user %>
            </div>
          </div>
          <div class="mt-5">
            <%= render "post_script_comments/form", post_script_comment: @post_script_comment %>

            <% @post_script.post_script_comments.each do |post_script_comment| %>
              <p> <%= post_script_comment.comment %> </p>
              <% if post_script_comment.end_user == current_end_user %>
                <div>
                  <%= link_to 'コメント削除', post_script_comment_path(post_script_comment),  method: :delete, data: {confirm: "削除しますか？"} %>
                </div>
              <% end %>
            <% end %>

          </div>


            <% if @post_script.end_user == current_end_user %>
              <div class="mt-3">
                <%= link_to '情報を削除', facility_post_script_path(@post_script.facility, @post_script.id), method: :delete, data: {confirm: "削除しますか？"},  class:"btn btn-danger" %>
              </div>
            <% else %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

