<div>
  <h2>新規投稿</h2>
</div>
<div class="container">
  <div class="row">
    <%# if singed_in? %>
      <%= form_with model: Facility  do |f| %>
        <div class="form-group">
          <%= f.label 'ロッカー名'%>
          <%= f.text_field :loker_name, class: 'form-control' %>

          <%= f.label 'エリア名'%>
          <%= f.text_field :area_name, class: 'form-control' %>

          <%= f.label 'エリア紹介'%>
          <%= f.text_area :area_introduction, class: 'form-control', row: 2 %>

          <%= f.label '費用目安'%>
          <%= f.text_field :cost, class: 'form-control' %>

          <%= f.label '写真' %><br>
          <%= f.file_field :images, multiple: true  %><br>

          <%= f.label '住所'%>
          <%= f.text_field :address, class: 'form-control' %>
          <%#= f.text_field :latitude, class: 'form-control' %>
          <%#= f.text_field :longitude, class: 'form-control' %>



          <%#= f.label 'ロッカー数'%>
          <%#= f.text_field :, class:number_of_loker 'form-control' %>
        </div>
        <%= f.submit '登録', class: 'btn btn-outline-success btn-block mb-3' %>
      <% end %>
    <%# end %>
  </div>
</div>