<div class="m-3">
  <%= link_to '← 一覧へ戻る', facilities_path, class: "btn btn-primary" %>
</div>

<div class="container">
  <div class="row">
    <div class="col-5 mt-3">
      <h2>投稿詳細</h2>
    </div>
    <div>
      <%= link_to '情報を更新', class:"btn btn-primary" %>
      <%= link_to '情報を削除', class:"btn btn-danger"  %>
    </div>
    <div class="col-7 mt-3">
      <span>ロッカー名</span>  |
      <%=@facility.loker_name %><br>

      <span>エリア名</span>  |
      <%=@facility.area_name %><br>

      <span>エリア紹介</span>  |
      <%=@facility.area_introduction %><br>

      <span>費用目安</span>  |
      <%=@facility.cost %><br>
    </div>
  </div>
</div>